<section class="features3 cid-quPf1lYfkY" id="features3-n" data-rv-view="606">

    

    
    <div class="container">

      <h2 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Посты</h2>
        
        <div class="row">
        {% for post in site.posts %}

        

          <a href="{{ post.url | relative_url }}">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ post.image_path }}" alt="Mobirise" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            {{ post.title | escape }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{ post.subtitle | escape }}
                            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                            <p><span class="post-meta">{{ post.date | date: date_format }}</span></p>
                        </p>
                    </div>

                    <div class="mbr-section-btn text-center">
                        <a href="{{ post.url | relative_url }}" class="btn btn-primary display-4">
                            Читать
                        </a>
                    </div>
                </div>
            </div>
          </a>

         {% endfor %}   
        </div>
        
         <p class="text-center">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

    </div>
</section>